.container4{
    max-width: 1110px;
    margin: 0px auto;  
    
    padding: 0 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;    

}
.politika{
    display: none;
}
.menu{
    display: flex;
}
.mobbt{
    display: none;
}
.headerline{

 display: flex; 
 align-items:baseline;   
justify-content: space-between;
padding-top: 20px;
}

h3{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;

color: #43FFD2;
}
span{
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 0px;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.navitem{
    text-decoration: none;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
 font-size: 14px; 
line-height: 21px;
/* identical to box height */
margin-right: 20px;
letter-spacing: 0.04em;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
justify-content: space-between;

}
a:hover{
    color: #43FFD2;
}
.sprava {
     margin-left: 0px; 
   align-self: flex-end; 
    text-align: right;
}
.nomer111{
    display: none;
}
.iconics9{
    display: none;
}
.sprava1 {
    margin-bottom: 10px;
}
.logo4{
   height: 80px;
   margin-right:50px; 
}
.poisk2{
     margin-right: 93px  
}
.sprava2{
    margin-top: 36px;
}
input {
    /* Делает само поле ввода прозрачным */
    background: transparent;
    /* Убираем рамки вокруг поля ввода */
    border: none;
    /* Добавим нижнюю черту для красоты */
    border-bottom: 1px solid #444;
  }
  .liniya{
    display: none;
  }
  @media (max-width: 1120px){
.container{
    max-width: 650px;
    margin: 0 auto;
   
}

 .sprava{
    display: none;
}
  }
  @media (max-width: 650px)
{ 
    .iconics9{
    padding-top: 10px;
    display: flex;
   

}
.ic9{
    margin-right: 20px;
}
.nomer111{
    display: block;
    color: #FFF;
    padding-top: 10px;
font-family: Oswald;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.4px;
text-decoration-line: underline;
text-transform: uppercase;
}
 
 .nav{
    white-space: nowrap;
 }
.logo4{
 width: 45px;
 height: 80px;
 padding-top: 60px;
 
}
.sprava h3, span{
    font-size: 90%;
}
.politika{
    display: block;
    padding-top: 10px;
color: #555;
font-family: Oswald;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.4px;

}  
  .mobbt{
        position: fixed;
        padding-right: 100%;
        display: block;
        color:  #43FFD2;
        padding-top: 15px;
        padding-left: 10px;
        padding-bottom: 15px;
        cursor: pointer;
        z-index: 10;    
        /* background-color:#000000 ; */
        transition: background-color 0.5s;
    }
    .liniya{
        display: block;
        width: 100px;
        height: 2px;
        background-color: #fff;
    }
   
    .menu{
        z-index: 1;
        height: 100vh;
        background-color: #000000;
        position: fixed;
        display: flex;
        left: -100%;
        /* width: 100%; */
        flex-direction: column;
        padding-left: 14px;
        padding-bottom: 10px;
        justify-content: space-around;
        transition: left 1s;
    }
    .active{
        left: 0;
    }
    .nav{
        flex-direction: column;
    }
    .headerline{
        display: flex;
        flex-direction: column;
       
        line-height: 50px;
        padding-top: 0;
    }
    .navitem{
        margin-right: 0;
    }
    .sprava{
        display: block;
        text-align: left;
        align-self: auto;
    }
   

  }
    
   
 
  
.container{
    margin: 0px auto;  
    margin-top: 60px;
    max-width: 1110px;
   
}
.zagolovok1{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 180px; 
   line-height: 242px; 
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-top: 0px;
    text-align: center;
    /* line-height: 153px; */
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
 
    margin-left: auto;
   
    flex-wrap : wrap;
}
.sozdaem{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.02em;
text-align: center;


text-align: center;


color: #FFFFFF;
padding-top: 85px;
padding-bottom: 60px;
}
.smcatalog{
    /* position: absolute;  */
    width: 220px; 
    height: 50px; 
    left: 610px; 
    top: 565px; 
     
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;
text-align: center;
align-self: center;
align-items: center;
color: #000000;
justify-self: center;
justify-content: center;
    background: #43FFD2; 
    margin-top: 50px;
}
.prikol{
display: flex;
justify-content: space-between;
}

.iconics{
    align-items: center;

   width: 90px;
   height: 155px;
   
   margin-top: 50px;
    display:grid;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
border-radius: 10px;
   justify-items: center;


}
.chtoto{
    display: flex;
    justify-content: center;
 
   
}


.nomer{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height */
  
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #43FFD2;


  

}
.ups{
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: flex-end;
}
.ic{
    align-items: center;
    align-content: center;
    margin-right: auto;
    
}

.kn{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.pups{
    
    margin-top: 8px;

}

.zvonok{
 font-family: 'Oswald';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 35px;
/* identical to box height */
text-align: right;
letter-spacing: 0.1em;
color: #43FFD2;

border-radius: 10px;
display: flex;
text-transform: uppercase;
background: rgba(0, 0, 0, 0.2);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
align-items: center;
border-radius: 10px;
justify-content: space-around;
border: none;
}
.zv{
    justify-content: space-around;
    margin-right: 7px;
}
.catalogbig{
    font-family: 'Cormorant';
font-style: normal;
font-weight: 400;
 font-size: 100px; 
line-height: 121px;
letter-spacing: 0.02em;
text-transform: uppercase;
margin-top: 645px;
color: #FFFFFF;
margin-bottom: 20px;
}
.text1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */
   
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
    
    }

.frame1{
    width: 540px;
    height: 310px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
    margin-top: 40px;
}
.frame2{
    /* width: 445px; */
height: 281px;
flex-shrink: 0;
border-radius: 20px;
background: rgba(0, 0, 0, 0.20);
backdrop-filter: blur(10px);

}
.spisok0{
line-height: 15px;
margin-top: 10px;

}
.frame1item{
    font-family: 'Oswald';
margin-left: 30px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */
letter-spacing: 0.04em;
text-transform: uppercase;
margin-top: 5px;
list-style-type: disc;
color: #FFFFFF;

}
.frame3{
    /* width: 540px; */
height: 264px;
flex-shrink: 0;
border-radius: 20px;
background: rgba(0, 0, 0, 0.20);
backdrop-filter: blur(10px);
margin-top: 60px;
}
.zg{
    color: #43FFD2;
font-size: 30px;
font-family: Oswald;
font-weight: 700;
letter-spacing: 1.2px;
text-transform: uppercase;
margin-left: 50px;
padding-top: 30px;
}
.blokiVse{
display: flex;


}
.blokiSprava{
    
 

    margin-left: 60px; 
}


.hz{
 display: flex;
 flex-wrap : wrap;

}

.chtoto2{
    position: relative;
    /* margin-left: 30px; */
    
}

.spisok1{
    line-height: 40px;
    /* margin-left: 31px; */
}

.chtoto3{
    margin-top: 40px;
}
.suhocvet2{
    position: absolute;
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 44px;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #43FFD2;
}

.element12{
    position: absolute;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */
margin-top: 146px;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #FFFFFF;
}



.suhocvet2{
    /* margin-left: 50px; */
    margin-top: 30px;
}

.chtoto4{
margin-top: 153px;
/* margin-left: 570px; */

}
.suhocvet5{
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 44px;
letter-spacing: 0.04em;
text-transform: uppercase;
position: absolute;
color: #43FFD2;
margin-top: 30px;
/* margin-left: 30px; */
}


.pop{
    font-family: 'Cormorant';
font-style: normal;
font-weight: 400;
 font-size: 100px; 
line-height: 121px;
letter-spacing: 0.02em;
text-transform: uppercase;
margin-top: 220px;
color: #FFFFFF;

}
.buk1{
    font-family: 'Cormorant';
font-style: normal;
font-weight: 400;
 font-size: 100px; 
line-height: 121px;
letter-spacing: 0.02em;
text-transform: uppercase;
/* margin-left: 379px; */
margin-top: 0px ;
color: #FFFFFF;
line-height: 60px;

}
  
.samble{
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;
margin-top: 40px;
color: #FFFFFF;
}

.carts{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
 
}

.denbl{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    margin-top: 10px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

color: #FFFFFF;
}
.money{
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.04em;
text-transform: uppercase;

color: #FFFFFF;
}
.but2{
    background: transparent;
    box-sizing: border-box;

font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* identical to box height */
height: 100px;
padding: 0 20px;
width: 100%;
letter-spacing: 0.1em;
text-transform: uppercase;
margin-top: 20px;
color: #FFFFFF;
white-space: nowrap;
border: 0.5px solid #FFFFFF;
}
.sm{
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* identical to box height */
display: flex;
letter-spacing: 0.1em;
text-decoration-line: underline;
text-transform: uppercase;
margin-top: 76px;
color: #D978AC;
}
.kak{
    font-family: 'Cormorant';
font-style: normal;
font-weight: 400;
 font-size: 100px;
line-height: 121px;
letter-spacing: 0.02em;
text-transform: uppercase;
margin-top: 185px;
color: #FFFFFF;
}
.shag1{
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 54px;
letter-spacing: 0.04em;
text-transform: uppercase;
margin-top: 40px;
color: #D978AC;
}
.text22{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
line-height: 30px;
font-size: 42px;
line-height: 45px;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #FFFFFF;

}
.shagiBig{
    display: flex;
    /* margin-left: 240px; */
flex-wrap: wrap;
   margin-top: 30px;
   
   justify-content: space-between;
    

}
.shagi2222{
    margin-left: 0px;
    line-height: 40px;
}
.rectangle1{

/* width: 65px; */
height: 10px;
/* left: 945px;
top: 3665px; */
/* margin-left: 307px; */
background: #D978AC;
}
.rectangle2{
    /* position: absolute; */
    /* width: 397px; */
/* float: right; */
/* margin-left: 476px; */
margin-top: 248px;

border: 1px solid #D978AC;
transform: rotate(90deg);
}
.but2:hover{
    
color: #fff; /* Цвет текста */
background: #f66d52; /* Цвет фона */
}










/* тут футер пошел */

.container2{
 margin-top: 50px;
 background-color:rgb(0, 0, 0);
 padding-top: 40px;
 padding-bottom: 40px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;

 }
 
  
    .zagolovok{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
      
        line-height: 30px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: left;
        color: #43FFD2;
        margin-top: 0px;
    }
    
    .text1223{
        font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    
    }
    
    .row{
        /* margin-left: 165px;
        margin-right: 165px;
        margin-top: 1120px; */
        display: flex;
        justify-content: space-between;
        
    }
    
    ul{
        text-align: left;
        list-style-type:none;
        font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    
    float: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    }
    .ss{
        text-align: left;
        font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    
    float: inline-start;
    
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    text-decoration: none;
    }
    .text2{
        font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    }
    .text29{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-top: 21px;
        color: #FFFFFF;
    }
    .da{
        line-height: 0px;
        margin-top: 20px;
        
    }
    .ic3{
    margin-top: 20px;
        width:20px;
    
    }
    .row{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footercolumn1{
        margin-left: 50px; 
    }
    .footercolumn{
        margin-right: 40px;
    }
    .zagolovok5{
        margin-left: 39px; 
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
       
        line-height: 0px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: left;
        color: #43FFD2;
       line-height: 0px;
       margin-top: 10px;
       padding-right: 60px;
    }
    h4{
        margin: 0 0;
    }
    .blin{
        margin-top: 5px;
        line-height: 0px;
    }
    .footercolumn3{
        margin-top: 0px;
    }
    
      .ic3{
        margin-bottom: 20px;
       
      }
  
     
@media (max-width: 1110px){
 .footercolumn1{
    margin-right: 0px;
    margin-left: 0px;
 }
 .footercolumn{
    display: none;
 }
    .container{
        margin: 0px auto;  
        margin-top: 60px;
        max-width: auto;    
       
    }

    .zagolovok5{
        padding: 0 0;
    }
       
.catalogbig{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartinka0{
    width: 250px;
}
.denbl, .money{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
}

    .but2{
        margin-bottom: 30px;
        /* font-size: 150%; */
        /* width: 350px; */
        height: 50px;
        
    }

.text1{
    padding-top: 40px;
    margin-top:     30px;
    /* margin-left: 80px;
    scale: 130%; */
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sozdaem{
    margin-top: 470px;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 0px;
}
.smcatalog, .nomer, .zvonok{
    scale: 100%;
}  
.nomer{
    margin-bottom: 30px;
    margin-top: 50px;
} 


}





.cart1{
    margin-top: 90px;
   
}

.carts{

   
    display: flex;
    flex-direction: row;
    
    flex-wrap: nowrap;
  
    /* scale: 120%; */
    justify-content: space-between;
    align-items: center;    
   

}





@media (max-width: 650px)
{
    .container{
        width: auto;
        margin: 0 10px;
    }
.ups{
    display: flex;
    align-items: center;
}

    .zagolovok1{
    font-size:55px ; 
    line-height: 59px;
    margin-top: 14px;
    }
.prikol{
    justify-content: center;
    display: block;
}

.iconics{
    display: none;
   
}
.shag1{
   /* font-size: 70px; */
    padding-bottom: 30px;
   padding-top: 60px;
    }
.text22{
     font-size: 30px; 
    line-height: 30px;
}

.kak{
    padding-top: 220px;
}
.footercolumn1{
   align-items: center;
    margin-left: 0px;
  
}

.zagolovok{
    text-align: center;
    font-size: 24px;
    line-height: 60px;
}
.text2{
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}
.ic3{
    margin-top: 50px;
   /* width: 120px; */
   width:0px;
}
.footercolumn, .blin{
 display: none;
 }
 


.denbl, .money{
    /* font-size: 40px; */
    text-align: center;
    margin-top: 30px;
    line-height: 40px;
}

.but2{
margin-bottom: 40px;
/* font-size: 250%; */
/* width: 600px; */
 height: 90px;
    }
    
   .frame2, .frame1, .frame3{
    /* width: 1000px; */
    height: 380px;
   
   }
   .frame1{
    height: 420px;
    width: 100%;
   }
   .frame1item{
    font-size: 35px;
    line-height: 39px;
 
   }
   .zg{
     font-size:34px; 
     margin-left: 10px;
   }
   .spisok0{
    font-size: 40px;
   }
.text1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
    line-height: 50px;
   
 
}
.blokiVse {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.blokiSprava{
    margin-left: 0px    ;
    padding-top: 50px;
}

.carts{

   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0px;
    /* scale: 120%; */
    justify-content: center;
    align-items: center;    
   

}
.cartinka0{
     width: 100%; 
}
    .cart1{
        padding-top: 20px;
    }
  
   .catalogbig{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 200px;
        justify-content: center;
        align-items: center;
   }
   .buk1{
    margin-left: 0px;
   }
   .pop, .kak, .buk1, .catalogbig{
    line-height: 46px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     font-size: 49px; 

   }
   .pop, .buk1{
    line-height: 46px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     font-size: 43px; 
   }
.da23{
 
    display: flex;
    justify-content: center;
    justify-content: space-evenly
}
}